---
layout: default
title: Community
description: Explore the GitLab Community and learn about events in your area, top contributors, project documentation, and more.
suppress_header: true
extra_css:
  - community.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 Community
    %p A community of 2,200+ contributors
    %a.btn.cta-btn.orange{ href: "/free-trial/" }
      Start your free trial
.gitlab-content-container
  .grid-layout.grid-layout3
    %a.tile.tile-animated.grid-item{href: "/resources/"}
      %img.icon-small{src: "/images/community/community-resources.svg", alt: "Gitlab community resources svg"}
      .tile-content
        %h4 Resources
        %p Learn Git, improve your DevOps workflow, or discover new trends with GitLab.
    %a.tile.tile-animated.grid-item{href: "/community/contribute/"}
      %img.icon-small{src: "/images/community/community-contributing.svg", alt: "Gitlab community contributing svg"}
      .tile-content
        %h4 Contribute
        %p Learn how to become a GitLab contributor.
    %a.tile.tile-animated.grid-item{href: "/community/heroes/"}
      %img.icon-small{src: "/images/downloads/logo.svg", alt: "Gitlab logo svg"}
      .tile-content
        %h4 Heroes Program
        %p GitLab Heroes are our top contributors, organizers, and evangelists. Learn more about how you can become a Hero. 
    %a.tile.tile-animated.grid-item{href: "/community/meetups/"}
      %img.icon-small{src: "/images/community/community-events.svg", alt: "Gitlab community events svg"}
      .tile-content
        %h4 Meetups
        %p We support meetups with sponsorship, swag, speakers, and more. Ready to start a GitLab group in your area?
    %a.tile.tile-animated.grid-item{href: "/community/hackathon/"}
      %img.icon-small{src: "/images/community/community-hackathon.svg", alt: "Gitlab hackathon svg"}
      .tile-content
        %h4 Hackathon
        %p Quarterly virtual hackathon.
    %a.tile.tile-animated.grid-item{href: "/community/contributing-orgs/"}
      %img.icon-small{src: "/images/community/community-customers.svg", alt: "Gitlab community customers svg"}
      .tile-content
        %h4 Contributing organizations
        %p Join the group of organizations that help shape GitLab and learn how GitLab supports them.
    %a.tile.tile-animated.grid-item{href: "/events/"}
      %img.icon-small{src: "/images/community/community-events.svg", alt: "Gitlab community events svg"}
      .tile-content
        %h4 Events
        %p On the road again: follow the Gitlab event circuit.
    %a.tile.tile-animated.grid-item{href: "/documentation/"}
      %img.icon-small{src: "/images/community/community-docs.svg", alt: "Gitlab community docs svg"}
      .tile-content
        %h4 Documentation
        %p All GitLab projects in one place.
    %a.tile.tile-animated.grid-item{href: "/get-help/"}
      %img.icon-small{src: "/images/community/community-help.svg", alt: "Gitlab community help svg"}
      .tile-content
        %h4 Get help
        %p How to get technical and account support.
    %a.tile.tile-animated.grid-item{href: "/community/moving-to-gitlab/"}
      %img.icon-small{src: "/images/downloads/logo.svg", alt: "Gitlab logo svg"}
      .tile-content
        %h4 From GitHub to GitLab
        %p Join the community #movingtogitlab.
    %a.tile.tile-animated.grid-item{href: "http://contributors.gitlab.com"}
      %img.icon-small{src: "/images/community/community-contributing.svg", alt: "Gitlab community contributors svg"}
      .tile-content
        %h4 Contributors
        %p Contributors to the open-source project.
    %a.tile.tile-animated.grid-item{href: "/community/top-annual-contributors/"}
      %img.icon-small{src: "/images/community/community-contributors.svg", alt: "Gitlab community contributors svg"}
      .tile-content
        %h4 Top Contributors
        %p GitLab's Top Contributors starting from 2018.
    %a.tile.tile-animated.grid-item{href: "/community/core-team/"}
      %img.icon-small{src: "/images/downloads/logo.svg", alt: "Gitlab logo svg"}
      .tile-content
        %h4 Core team
        %p People behind the open-source project.
    %a.tile.tile-animated.grid-item{href: "/community/mvp/"}
      %img.icon-small{src: "/images/community/community-hof.svg", alt: "Gitlab hall of fame svg"}
      .tile-content
        %h4 Hall of fame
        %p The most valuable persons in past releases.
    %a.tile.tile-animated.grid-item{href: "/community/sponsorship/"}
      %img.icon-small{src: "/images/community/community-events.svg", alt: "Gitlab community events svg"}
      .tile-content
        %h4 Diversity Sponsorship
        %p Fostering diversity by sponsoring events.
    %a.tile.tile-animated.grid-item{href: "/partners/"}
      %img.icon-small{src: "/images/community/community-apps.svg", alt: "Gitlab community apps svg"}
      .tile-content
        %h4 Partners
        %p Technology partners and applications that support GitLab.
    %a.tile.tile-animated.grid-item{href: "/customers/"}
      %img.icon-small{src: "/images/community/community-customers.svg", alt: "Gitlab community customers svg"}
      .tile-content
        %h4 Customers
        %p Inspiring stories of how GitLab customers have transformed their software development practices.
    %a.tile.tile-animated.grid-item{href: "/community/gitlab-first-look/"}
      %img.icon-small{src: "/images/community/community-customers.svg", alt: "Gitlab community customers svg"}
      .tile-content
        %h4 GitLab First Look
        %p Join GitLab First Look for exclusive access to betas!
    %a.tile.tile-animated.grid-item{href: "/community/sweepstakes/"}
      %img.icon-small{src: "/images/downloads/logo.svg", alt: "Gitlab logo svg"}
      .tile-content
        %h4 Sweepstakes
        %p Contests where you can win cool stuff.
    %a.tile.tile-animated.grid-item{href: "/community/writers/"}
      %img.icon-small{src: "/images/community/community-docs.svg", alt: "Gitlab community docs svg"}
      .tile-content
        %h4 Community writers
        %p Contribute to the GitLab blog.
    %a.tile.tile-animated.grid-item{href: "/community/issue-bash/"}
      %img.icon-small{src: "/images/community/community-bash.svg", alt: "Gitlab community bash svg"}
      .tile-content
        %h4 Issue bash
        %p Quarterly community event.
